.filter-container {
    padding: 10px;
    display: inline-block;
    background-color: var(--button-background-color);

    border: var(--button-border-color) 1px solid;
    border-radius: 10px;
}
.filter-header {
    margin: 0 0 5px;
    font-size: 0.9rem;
}
.filter-checkbox{

}
.filter-icon{
    height: 20px;
    aspect-ratio: 1;
}
.filter-icon-checkbox-container {
    display: flex;
    margin: 2px
}