:root{
    --match-history-element-height: 80px;
    --border-color: black;
}

.match-history-element{
    display: grid;
    grid-template-columns: 7% 9% 25% 12% 8% 12% 8% 10% 9%;
    border-bottom: var(--border-color) 1px solid
}
.flag-div{
    background-image: url("Icons/flags.png");
    height: 14px;
    width: 18px;
    border: #000000 1.5px solid;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}